black
flake8
ipython
ipython
ipython
isort
jupyter
jupyter_client
jupyterlab
kedro
nbstripout
pytest-cov
pytest-mock
pytest
wheel

pillow
click
opencv-python
numpy
dvc
matplotlib
scikit-image
more-itertools
